﻿@{
    ViewData["Title"] = "Home Page";
}
@using LMS.Models;
@using System.Text.Json;
@{
    string? jsonUsr = Context.Session.GetString("loggedUser");
    User? loggedUser = null;
    if(jsonUsr != null)
    {
        loggedUser = JsonSerializer.Deserialize<User>(jsonUsr);
    }
}
<div class="text-center">
    @if(loggedUser != null)
    {
        <h1 class="display-4">Welcome @loggedUser.Email</h1>
    } else
    {
        <h1 class="display-4">Login to view content</h1>        
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
