﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LMS.ViewModels.BookDetails;

<h1>Details book</h1>
<h2>@ViewData["ErrorMsg"]</h2>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookModel.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookModel.Title)
        </dd>

        <h4>Meta information</h4>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookMetaData.Thumbnail)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.BookMetaData.Thumbnail" asp-append-version=true/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookMetaData.PageCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookMetaData.PageCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookMetaData.PublishedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookMetaData.PublishedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookMetaData.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookMetaData.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookMetaData.MainCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookMetaData.MainCategory)
        </dd>
    </dl>
</div>

<form asp-action="Add" asp-controller="Comment" method="post">
    <input type="hidden" name="BookId" value="@Model.BookModel.Id" />
    <input type="text" name="Title" required />
    <textarea name="Text" rows="5" cols="50" placeholder="Enter your review here"></textarea>
    <br /><br />
    <input type="submit" />
</form>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookModel.Id}) |
    <a asp-action="Index">Back to List</a>
</div>